In [95]:
import pandas as pd

In [96]:
#Reading party color data
Color=pd.read_excel("C:/Users/Sanya/Documents/Python/Python_Group/Data_variables.xlsx",sheet_name="x3")

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,0.00000,659170,1182850,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,0.00000,504070,1182850,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,0.00000,9198,1182850,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,0.00000,6669,1182850,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,0.00000,1954,1182850,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4282,2020,WYOMING,WY,56,83,68,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,0.00000,5768,278503,LIBERTARIAN
4283,2020,WYOMING,WY,56,83,68,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,0.00000,2208,278503,OTHER
4284,2020,WYOMING,WY,56,83,68,US PRESIDENT,NaN,NaN,1.00000,1739,278503,OTHER
4285,2020,WYOMING,WY,56,83,68,US PRESIDENT,OVERVOTES,NaN,0.00000,279,278503,OTHER
4286,2020,WYOMING,WY,56,83,68,US PRESIDENT,UNDERVOTES,NaN,0.00000,1459,278503,OTHER

In [98]:
#Taking max votes for each year

Color['Max'] = Color.groupby(["year","state","totalvotes"],as_index=False)['candidatevotes'].transform('max')
Colorc=Color.loc[Color['Max']==Color['candidatevotes']]

Colorc=Colorc[['state_fips','year','party_simplified','state']]
Colorc

      state_fips  year party_simplified          state
0              1  1976         DEMOCRAT        ALABAMA
7              2  1976       REPUBLICAN         ALASKA
11             4  1976       REPUBLICAN        ARIZONA
19             5  1976         DEMOCRAT       ARKANSAS
23             6  1976       REPUBLICAN     CALIFORNIA
...          ...   ...              ...            ...
4252          51  2020         DEMOCRAT       VIRGINIA
4256          53  2020         DEMOCRAT     WASHINGTON
4264          54  2020       REPUBLICAN  WEST VIRGINIA
4267          55  2020         DEMOCRAT      WISCONSIN
4281          56  2020       REPUBLICAN        WYOMING

[612 rows x 4 columns]

In [101]:
#Defining party color as per latest election results eg: for 2009-2011,election results will be as per 2008 presidential election outcome
def ap(y,s,e):
    Color_2012=Colorc[Colorc['year']==y]
    Color_app=Color_2012
    for i in range(s,e):
        Color_new=Color_2012.drop(columns='year')
        Color_new['year']=i
        Color_app=Color_app.append(Color_new)
    return Color_app

In [102]:
Color_12=ap(2012,2013,2016)
Color_9=ap(2008,2009,2012)
Color_16=ap(2016,2017,2020)

In [103]:

#Appending all data
Color_all=pd.concat([Color_9,Color_12,Color_16],axis=0)

      state_fips  year party_simplified          state
2728           1  2008       REPUBLICAN        ALABAMA
2732           2  2008       REPUBLICAN         ALASKA
2738           4  2008       REPUBLICAN        ARIZONA
2744           5  2008       REPUBLICAN       ARKANSAS
2751           6  2008         DEMOCRAT     CALIFORNIA
...          ...   ...              ...            ...
3704          51  2019         DEMOCRAT       VIRGINIA
3710          53  2019         DEMOCRAT     WASHINGTON
3718          54  2019       REPUBLICAN  WEST VIRGINIA
3723          55  2019       REPUBLICAN      WISCONSIN
3732          56  2019       REPUBLICAN        WYOMING

[612 rows x 4 columns]

In [107]:
#Importing data on pay transparency laws
laws=pd.read_csv("C:/Users/Sanya/Documents/Python/Python_Ind/laws.csv")

In [108]:
laws

,Unnamed: 0,State,Pay Transparency Laws Summary,Year_imp,Equal Pay Laws Summary,Year,Comments,Unnamed: 7
0,0,ALABAMA,Only federal protections apply. See federal la...,NaN,Clarke-Figures Equal Pay Act Protection: An e...,NaN,NaN,NaN
1,1,ALASKA,Only federal protections apply. See federal la...,NaN,Arkansas Wage Discrimination Law Protection: ...,NaN,NaN,NaN
2,2,ARIZONA,Only federal protections apply. See federal la...,NaN,NaN,NaN,NaN,NaN
3,3,ARKANSAS,Only federal protections apply. See federal la...,NaN,Arkansas Wage Discrimination Law Protection: E...,NaN,NaN,NaN
4,4,CALIFORNIA,California Equal Pay Act Protection: An employ...,1984.00000,Policies and retaliation; wage disclosure only,NaN,https://onlinelibrary-wiley-com.libproxy1.nus....,NaN
5,5,COLORADO,Colorado Antidiscrimination Statute Protection...,2008.00000,"Policies and retaliation; wage inquiry, disclo...",NaN,https://onlinelibrary-wiley-com.libproxy1.nus....,NaN
6,6,CONNECTICUT,Connecticut Labor Statute Protection: No emplo...,2015.00000,Connecticut Labor Statute Protection: No emplo...,NaN,https://law.justia.com/codes/connecticut/2015/...,NaN
7,7,DELAWARE,Delaware Antidiscrimination Act Protection: It...,2016.00000,Delaware Antidiscrimination Act Protection: It...,NaN,NaN,NaN
8,8,DISTRICT OF COLUMBIA,D.C. Wage Transparency Law Protection: An empl...,NaN,D.C. Human Rights Act of 1977 Protection: It s...,NaN,NaN,NaN
9,9,FLORIDA,Only federal protections apply. See federal la...,NaN,Florida Equal Pay Statute Protection: No emplo...,NaN,NaN,NaN
10,10,GEORGIA,Only federal protections apply. See federal la...,NaN,Georgia Pay Equity Act Protection: No employer...,NaN,NaN,NaN
11,11,HAWAII,Only federal protections apply. See federal la...,NaN,Hawaii Equal Pay Law Protection: No employer s...,NaN,NaN,NaN
12,12,IDAHO,Only federal protections apply. See federal la...,NaN,Idaho Equal Pay Law Protection: No employer sh...,NaN,NaN,NaN
13,13,ILLINOIS,Illinois Equal Pay Act of 2003 Protection: It ...,2003.00000,Illinois Equal Pay Act of 2003 Protections: No...,NaN,NaN,NaN
14,14,INDIANA,Only federal protections apply. See federal la...,NaN,Indiana Minimum Wage Law of 1965 Protection: N...,NaN,NaN,NaN
15,15,IOWA,Only federal protections apply. See federal la...,NaN,Iowa Equal Pay Law Protection: A state departm...,NaN,NaN,NaN
16,16,KANSAS,Only federal protections apply. See federal la...,NaN,Kansas Minimum Wage and Maximum Hours Law Prot...,NaN,NaN,NaN
17,17,KENTUCKY,Only federal protections apply. See federal la...,NaN,Kentucky Equal Pay Law Protection: No employer...,NaN,NaN,NaN
18,18,LOUISIANA,Louisiana Equal Pay for Women Act Protection: ...,2013.00000,Louisiana Equal Pay for Women Act Protection: ...,NaN,NaN,https://www.theadvertiser.com/story/money/2021...
19,19,MAINE,Main Equal Pay Law Protection: An employer may...,2009.00000,Cannot prohibit wage disclosure or inquiry but...,NaN,https://onlinelibrary-wiley-com.libproxy1.nus....,NaN
20,20,MARYLAND,Maryland Equal Pay for Equal Work Law Protecti...,2017.00000,Maryland Equal Pay for Equal Work Law Protecti...,NaN,https://law.justia.com/codes/maryland/2017/lab...,NaN
21,21,MASSACHUSETTS,Massachusetts Equal Pay Law Protection: It sha...,2012.00000,Massachusetts Equal Pay Law Protection: No emp...,NaN,https://law.justia.com/codes/massachusetts/201...,NaN
22,22,MICHIGAN,Michigan Pay Transparency Law Protection: An e...,1982.00000,Policies and retaliation; wage disclosure only,NaN,https://casetext.com/statute/michigan-compiled...,NaN
23,23,MINNESOTA,Minnesota Pay Transparency Law Protection: An ...,2014.00000,Minnesota Equal Pay for Equal Work Law Protect...,NaN,https://casetext.com/statute/minnesota-statute...,NaN
24,24,MISSISSIPPI,Only federal protections apply. See federal la...,NaN,Only federal protections apply. See federal la...,NaN,NaN,NaN
25,25,MISSOURI,Only federal protections apply. See federal la...,NaN,Missouri Equal Pay Law Protection: No employer...,NaN,NaN,NaN
26,26,MONTANA,Only federal protections apply. See federal la...,NaN,Montana Equal Pay Law Protection: It is unlawf...,NaN,NaN,NaN
27,27,NEBRASKA,Nebraska Fair Employment Practice Act Protecti...,2012.00000,Nebraska Wages Law Protection: No employer sha...,NaN,https://law.justia.com/codes/nebraska/2012/cha...,NaN
28,28,NEVADA,Nevada General Anti-Discrimination Law Protect...,2013.00000,Nevada Equal Pay Law Protection: It is unlawfu...,NaN,https://law.justia.com/codes/nevada/2013/chapt...,NaN
29,29,NEW HAMPSHIRE,New Hampshire Equal Pay Law Protection: No emp...,2015.00000,New Hampshire Equal Pay Law Protection: No emp...,NaN,https://law.justia.com/codes/new-hampshire/201...,NaN
30,30,NEW JERSEY,New Jersey Law Against Discrimination Protecti...,2013.00000,Retaliation for wage sharing and inquiries,NaN,https://onlinelibrary-wiley-com.libproxy1.nus....,NaN
31,31,NEW MEXICO,Only federal protections apply. See federal la...,NaN,New Mexico Fair Pay for Women Act Protection: ...,NaN,NaN,NaN
32,32,NEW YORK,New York Equal Pay Law Protection: No employer...,2016.00000,New York Equal Pay Law Protection: No employee...,NaN,https://www.gibsondunn.com/wp-content/uploads/...,NaN
33,33,NORTH CAROLINA,Only federal protections apply. See federal la...,NaN,North Carolina Equal Employment Practices Act ...,NaN,NaN,NaN
34,34,NORTH DAKOTA,Only federal protections apply. See federal la...,NaN,North Dakota Equal Pay Law Protection: An empl...,NaN,NaN,NaN
35,35,OHIO,Only federal protections apply. See federal la...,NaN,Ohio Minimum Fair Wage Standards Law Protectio...,NaN,NaN,NaN
36,36,OKLAHOMA,Only federal protections apply. See federal la...,NaN,Oklahoma Equal Pay Law Protection: It shall be...,NaN,NaN,NaN
37,37,OREGON,Oregon General Anti-Discrimination Law Protect...,2019.00000,Oregon Equal Pay Law Protection: It is an unla...,NaN,https://law.justia.com/codes/oregon/2019/volum...,NaN
38,38,PENNSYLVANIA,Only federal protections apply. See federal la...,NaN,Pennsylvania Equal Pay Law Protection: No empl...,NaN,NaN,NaN
39,39,RHODE ISLAND,Only federal protections apply. See federal la...,NaN,Rhode Island Equal Pay Law Protection: No empl...,NaN,NaN,NaN
40,40,SOUTH CAROLINA,Only federal protections apply. See federal la...,NaN,South Carolina Human Affairs Law Protection: I...,NaN,NaN,NaN
41,41,SOUTH DAKOTA,Only federal protections apply. See federal la...,NaN,South Dakota Equal Pay for Equal Work Law Prot...,NaN,NaN,NaN
42,42,TENNESSEE,Only federal protections apply. See federal la...,NaN,Tennessee Equal Pay Law Protection: No employe...,NaN,NaN,NaN
43,43,TEXAS,Only federal protections apply. See federal la...,NaN,"Texas Equal Work, Equal Pay Law Protection: A ...",NaN,NaN,NaN
44,44,UTAH,Only federal protections apply. See federal la...,NaN,Utah Antidiscrimination Act Protection: An emp...,NaN,NaN,NaN
45,45,VERMONT,Vermont Fair Employment Practices Law Protecti...,2005.00000,Policies and retaliation; wage disclosure only,NaN,https://onlinelibrary-wiley-com.libproxy1.nus....,NaN
46,46,VIRGINIA,Only federal protections apply. See federal la...,NaN,Virginia Equal Pay Law Protection: No employer...,NaN,NaN,NaN
47,47,WASHINGTON,Washington Equal Pay Law Protection: An employ...,2018.00000,Washington Equal Pay Law Protection: Any emplo...,NaN,https://app.leg.wa.gov/rcw/default.aspx?cite=4...,NaN
48,48,WEST VIRGINIA,Only federal protections apply. See federal la...,NaN,West Virginia Equal Pay for Equal Work Law Pro...,NaN,NaN,NaN
49,49,WISCONSIN,Only federal protections apply. See federal la...,NaN,Wisconsin Equal Pay Law Protection: It is an a...,NaN,NaN,NaN
50,50,WYOMING,Only federal protections apply. See federal la...,NaN,Wyoming Equal Pay Law Protection: No employer ...,NaN,NaN,NaN
51,51,UNITED STATES,"OFCCP Rule Implementing Executive Order 13665,...",NaN,Equal Pay Act Protection: No employer shall di...,NaN,NaN,NaN

In [116]:
import numpy as np

In [118]:
pd.set_option('display.max_columns', None)

In [122]:
#Importing income data
Income1=pd.read_csv("p1.csv")
Income2=pd.read_csv("p2.csv")
Income_agg=Income1.append(Income2)

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,1,2,3,4,5,SEX,Prop_F,College,Mar,Constr
0,0,2010,1,14118.16366,23834.91491,4430,8808,2452,15002,3924,114,43,8,19626,9486,10958,12019,1278
1,1,2010,2,16442.15924,26732.79936,785,1390,433,2157,89,524,9,9,3140,1430,1839,1810,282
2,2,2010,4,15761.25182,25056.49537,6178,11377,3443,21533,908,1036,186,53,26154,12499,15878,14816,1480
3,3,2010,5,13346.84925,20152.89866,2719,5242,1531,9972,1427,81,11,3,11940,5851,5731,7461,871
4,4,2010,6,18224.84655,28426.86741,37537,72881,20593,102859,7081,1151,6475,1469,156794,73396,96594,87997,10248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,250,2019,51,24122.91462,38419.46075,9935,17413,4724,31300,5938,117,490,54,42374,20522,28614,24673,2179
251,251,2019,53,22481.30645,39252.58905,9024,15117,4245,29130,973,570,841,200,37226,17373,24212,21284,2595
252,252,2019,54,16709.37688,26985.60586,1588,2864,691,6910,217,7,16,4,7302,3524,3768,4329,540
253,253,2019,55,18312.91965,28428.57080,6579,11593,3336,27694,689,176,85,5,29709,14235,17098,17762,2176
254,254,2019,56,16076.32979,30108.35248,652,1111,329,2577,16,104,10,0,2820,1340,1653,1724,327

In [124]:
#Checking years(should be available for 2010-2019)
Income_agg['YEAR'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

In [125]:

Income_agg1=Income_agg

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,1,2,3,4,5,SEX,Prop_F,College,Mar,Constr
0,0,2010,1,14118.16366,23834.91491,4430,8808,2452,15002,3924,114,43,8,19626,9486,10958,12019,1278
1,1,2010,2,16442.15924,26732.79936,785,1390,433,2157,89,524,9,9,3140,1430,1839,1810,282
2,2,2010,4,15761.25182,25056.49537,6178,11377,3443,21533,908,1036,186,53,26154,12499,15878,14816,1480
3,3,2010,5,13346.84925,20152.89866,2719,5242,1531,9972,1427,81,11,3,11940,5851,5731,7461,871
4,4,2010,6,18224.84655,28426.86741,37537,72881,20593,102859,7081,1151,6475,1469,156794,73396,96594,87997,10248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,250,2019,51,24122.91462,38419.46075,9935,17413,4724,31300,5938,117,490,54,42374,20522,28614,24673,2179
251,251,2019,53,22481.30645,39252.58905,9024,15117,4245,29130,973,570,841,200,37226,17373,24212,21284,2595
252,252,2019,54,16709.37688,26985.60586,1588,2864,691,6910,217,7,16,4,7302,3524,3768,4329,540
253,253,2019,55,18312.91965,28428.57080,6579,11593,3336,27694,689,176,85,5,29709,14235,17098,17762,2176
254,254,2019,56,16076.32979,30108.35248,652,1111,329,2577,16,104,10,0,2820,1340,1653,1724,327

In [127]:
#Calculating Gender Wage Gap
Income_agg1['GWG']=Income_agg1['Inc_F']/Income_agg1['Inc_M']

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,1,2,3,4,5,SEX,Prop_F,College,Mar,Constr,GWG
count,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000
mean,127.00000,2014.50000,28.96078,17408.96783,27654.17119,6603.87843,11958.48235,3233.43725,22230.02157,2515.28824,236.26471,381.99608,76.04118,28202.77255,13538.74314,16942.54902,16121.80784,1745.63922,0.62886
std,73.68387,2.87510,15.69223,4010.55196,5127.95233,7350.20395,13610.69244,3587.76559,22256.41168,3112.19666,341.66916,1135.14159,233.00865,30992.00690,14675.84383,19038.23504,17199.67926,1943.56506,0.06343
min,0.00000,2010.00000,1.00000,11394.95996,17488.40029,627.00000,728.00000,262.00000,1660.00000,8.00000,4.00000,0.00000,0.00000,2758.00000,1266.00000,1558.00000,1001.00000,89.00000,0.41145
25%,63.25000,2012.00000,16.00000,14867.49365,23996.77096,1655.25000,2967.25000,792.50000,6579.75000,194.25000,57.25000,26.00000,4.00000,7201.25000,3426.25000,4296.75000,4237.25000,584.25000,0.59639
50%,127.00000,2014.50000,29.00000,16539.16259,26763.64359,4420.50000,7830.00000,2188.50000,14941.00000,988.00000,104.00000,71.00000,15.00000,18883.00000,9139.00000,10931.00000,10454.00000,1181.50000,0.62883
75%,190.75000,2017.00000,42.00000,18876.55608,30277.73114,8322.00000,14105.25000,3851.25000,28366.00000,4072.00000,234.75000,264.50000,49.75000,34767.25000,17159.00000,23182.25000,19235.25000,2122.75000,0.65461
max,254.00000,2019.00000,56.00000,41830.35423,47942.61978,44428.00000,78152.00000,20593.00000,111590.00000,11126.00000,1585.00000,9324.00000,1486.00000,182239.00000,85422.00000,117835.00000,97552.00000,11399.00000,0.87305

In [129]:
#Calculate Proportions

for c in ['Agelt30','Child','Child5','Prop_F','College','Mar','1','2','3','4','5','Constr']:
    Income_agg1[c]=Income_agg1[c]*100/Income_agg1['SEX']

In [130]:
#Rename Race columns
Income_agg1 = Income_agg1.rename(columns={'1': 'White', '2': 'Black','3':'AmIndian_AlaskaNative','4':'Chinese','5':'Japanese'})

In [131]:
#Display floats
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,SEX,Prop_F,College,Mar,Constr,GWG
0,0,2010,1,14118.16366,23834.91491,22.57210,44.87924,12.49363,76.43942,19.99389,0.58086,0.21910,0.04076,19626,48.33384,55.83410,61.24019,6.51177,0.59233
1,1,2010,2,16442.15924,26732.79936,25.00000,44.26752,13.78981,68.69427,2.83439,16.68790,0.28662,0.28662,3140,45.54140,58.56688,57.64331,8.98089,0.61506
2,2,2010,4,15761.25182,25056.49537,23.62163,43.50004,13.16433,82.33157,3.47174,3.96115,0.71117,0.20265,26154,47.79001,60.70964,56.64908,5.65879,0.62903
3,3,2010,5,13346.84925,20152.89866,22.77219,43.90285,12.82245,83.51759,11.95142,0.67839,0.09213,0.02513,11940,49.00335,47.99832,62.48744,7.29481,0.66228
4,4,2010,6,18224.84655,28426.86741,23.94033,46.48201,13.13379,65.60136,4.51612,0.73408,4.12962,0.93690,156794,46.81046,61.60567,56.12268,6.53596,0.64111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,250,2019,51,24122.91462,38419.46075,23.44598,41.09360,11.14835,73.86605,14.01331,0.27611,1.15637,0.12744,42374,48.43064,67.52726,58.22674,5.14230,0.62788
251,251,2019,53,22481.30645,39252.58905,24.24112,40.60871,11.40332,78.25176,2.61376,1.53119,2.25917,0.53726,37226,46.66899,65.04056,57.17509,6.97093,0.57273
252,252,2019,54,16709.37688,26985.60586,21.74747,39.22213,9.46316,94.63161,2.97179,0.09586,0.21912,0.05478,7302,48.26075,51.60230,59.28513,7.39523,0.61920
253,253,2019,55,18312.91965,28428.57080,22.14480,39.02185,11.22892,93.21754,2.31916,0.59241,0.28611,0.01683,29709,47.91477,57.55158,59.78660,7.32438,0.64417
254,254,2019,56,16076.32979,30108.35248,23.12057,39.39716,11.66667,91.38298,0.56738,3.68794,0.35461,0.00000,2820,47.51773,58.61702,61.13475,11.59574,0.53395

In [133]:
#Join GWG, Law and party color data

laws=laws[['State','Year_imp']]
laws

#Rename columns
Color_all=Color_all.rename(columns={'state_fips':'STATEFIP','year':'YEAR'})
laws=laws.rename(columns={'State':'state'})

In [134]:
#Merge GWG and Party color
GWG=pd.merge(Income_agg1, Color_all,how="left",on=['YEAR','STATEFIP'])

                   state   Year_imp
0                ALABAMA        NaN
1                 ALASKA        NaN
2                ARIZONA        NaN
3               ARKANSAS        NaN
4             CALIFORNIA 1984.00000
5               COLORADO 2008.00000
6            CONNECTICUT 2015.00000
7               DELAWARE 2016.00000
8   DISTRICT OF COLUMBIA        NaN
9                FLORIDA        NaN
10               GEORGIA        NaN
11                HAWAII        NaN
12                 IDAHO        NaN
13              ILLINOIS 2003.00000
14               INDIANA        NaN
15                  IOWA        NaN
16                KANSAS        NaN
17              KENTUCKY        NaN
18             LOUISIANA 2013.00000
19                 MAINE 2009.00000
20              MARYLAND 2017.00000
21         MASSACHUSETTS 2012.00000
22              MICHIGAN 1982.00000
23             MINNESOTA 2014.00000
24           MISSISSIPPI        NaN
25              MISSOURI        NaN
26               MONTANA        NaN
27              NEBRASKA 2012.00000
28                NEVADA 2013.00000
29         NEW HAMPSHIRE 2015.00000
30            NEW JERSEY 2013.00000
31            NEW MEXICO        NaN
32              NEW YORK 2016.00000
33        NORTH CAROLINA        NaN
34          NORTH DAKOTA        NaN
35                  OHIO        NaN
36              OKLAHOMA        NaN
37                OREGON 2019.00000
38          PENNSYLVANIA        NaN
39          RHODE ISLAND        NaN
40        SOUTH CAROLINA        NaN
41          SOUTH DAKOTA        NaN
42             TENNESSEE        NaN
43                 TEXAS        NaN
44                  UTAH        NaN
45               VERMONT 2005.00000
46              VIRGINIA        NaN
47            WASHINGTON 2018.00000
48         WEST VIRGINIA        NaN
49             WISCONSIN        NaN
50               WYOMING        NaN
51         UNITED STATES        NaN

In [136]:
# 1 Merge laws by State to get year_imp column
# 2 If year_imp>=year->Pay_transp=1

GWG1=pd.merge(GWG,laws,how="left",on='state')

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,SEX,Prop_F,College,Mar,Constr,GWG,party_simplified,state,Year_imp
0,0,2010,1,14118.16366,23834.91491,22.57210,44.87924,12.49363,76.43942,19.99389,0.58086,0.21910,0.04076,19626,48.33384,55.83410,61.24019,6.51177,0.59233,REPUBLICAN,ALABAMA,NaN
1,1,2010,2,16442.15924,26732.79936,25.00000,44.26752,13.78981,68.69427,2.83439,16.68790,0.28662,0.28662,3140,45.54140,58.56688,57.64331,8.98089,0.61506,REPUBLICAN,ALASKA,NaN
2,2,2010,4,15761.25182,25056.49537,23.62163,43.50004,13.16433,82.33157,3.47174,3.96115,0.71117,0.20265,26154,47.79001,60.70964,56.64908,5.65879,0.62903,REPUBLICAN,ARIZONA,NaN
3,3,2010,5,13346.84925,20152.89866,22.77219,43.90285,12.82245,83.51759,11.95142,0.67839,0.09213,0.02513,11940,49.00335,47.99832,62.48744,7.29481,0.66228,REPUBLICAN,ARKANSAS,NaN
4,4,2010,6,18224.84655,28426.86741,23.94033,46.48201,13.13379,65.60136,4.51612,0.73408,4.12962,0.93690,156794,46.81046,61.60567,56.12268,6.53596,0.64111,DEMOCRAT,CALIFORNIA,1984.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,250,2019,51,24122.91462,38419.46075,23.44598,41.09360,11.14835,73.86605,14.01331,0.27611,1.15637,0.12744,42374,48.43064,67.52726,58.22674,5.14230,0.62788,DEMOCRAT,VIRGINIA,NaN
506,251,2019,53,22481.30645,39252.58905,24.24112,40.60871,11.40332,78.25176,2.61376,1.53119,2.25917,0.53726,37226,46.66899,65.04056,57.17509,6.97093,0.57273,DEMOCRAT,WASHINGTON,2018.00000
507,252,2019,54,16709.37688,26985.60586,21.74747,39.22213,9.46316,94.63161,2.97179,0.09586,0.21912,0.05478,7302,48.26075,51.60230,59.28513,7.39523,0.61920,REPUBLICAN,WEST VIRGINIA,NaN
508,253,2019,55,18312.91965,28428.57080,22.14480,39.02185,11.22892,93.21754,2.31916,0.59241,0.28611,0.01683,29709,47.91477,57.55158,59.78660,7.32438,0.64417,REPUBLICAN,WISCONSIN,NaN
509,254,2019,56,16076.32979,30108.35248,23.12057,39.39716,11.66667,91.38298,0.56738,3.68794,0.35461,0.00000,2820,47.51773,58.61702,61.13475,11.59574,0.53395,REPUBLICAN,WYOMING,NaN

In [138]:
#Check: states which don't have year in GWG1 should be same as laws data
GWG1[GWG1['Year_imp'].isnull()]['state'].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'INDIANA', 'IOWA',
       'KANSAS', 'KENTUCKY', 'MISSISSIPPI', 'MISSOURI', 'MONTANA',
       'NEW MEXICO', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA',
       'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA',
       'TENNESSEE', 'TEXAS', 'UTAH', 'VIRGINIA', 'WEST VIRGINIA',
       'WISCONSIN', 'WYOMING'], dtype=object)

In [139]:
laws[laws['Year_imp'].isnull()]['state'].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'INDIANA', 'IOWA',
       'KANSAS', 'KENTUCKY', 'MISSISSIPPI', 'MISSOURI', 'MONTANA',
       'NEW MEXICO', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA',
       'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA',
       'TENNESSEE', 'TEXAS', 'UTAH', 'VIRGINIA', 'WEST VIRGINIA',
       'WISCONSIN', 'WYOMING', 'UNITED STATES'], dtype=object)

In [140]:
GWG1['Pay_Transp']=np.where(GWG1['YEAR']>=GWG1['Year_imp'],1,0)

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,SEX,Prop_F,College,Mar,Constr,GWG,party_simplified,state,Year_imp,Pay_Transp
0,0,2010,1,14118.16366,23834.91491,22.57210,44.87924,12.49363,76.43942,19.99389,0.58086,0.21910,0.04076,19626,48.33384,55.83410,61.24019,6.51177,0.59233,REPUBLICAN,ALABAMA,NaN,0
1,1,2010,2,16442.15924,26732.79936,25.00000,44.26752,13.78981,68.69427,2.83439,16.68790,0.28662,0.28662,3140,45.54140,58.56688,57.64331,8.98089,0.61506,REPUBLICAN,ALASKA,NaN,0
2,2,2010,4,15761.25182,25056.49537,23.62163,43.50004,13.16433,82.33157,3.47174,3.96115,0.71117,0.20265,26154,47.79001,60.70964,56.64908,5.65879,0.62903,REPUBLICAN,ARIZONA,NaN,0
3,3,2010,5,13346.84925,20152.89866,22.77219,43.90285,12.82245,83.51759,11.95142,0.67839,0.09213,0.02513,11940,49.00335,47.99832,62.48744,7.29481,0.66228,REPUBLICAN,ARKANSAS,NaN,0
4,4,2010,6,18224.84655,28426.86741,23.94033,46.48201,13.13379,65.60136,4.51612,0.73408,4.12962,0.93690,156794,46.81046,61.60567,56.12268,6.53596,0.64111,DEMOCRAT,CALIFORNIA,1984.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,250,2019,51,24122.91462,38419.46075,23.44598,41.09360,11.14835,73.86605,14.01331,0.27611,1.15637,0.12744,42374,48.43064,67.52726,58.22674,5.14230,0.62788,DEMOCRAT,VIRGINIA,NaN,0
506,251,2019,53,22481.30645,39252.58905,24.24112,40.60871,11.40332,78.25176,2.61376,1.53119,2.25917,0.53726,37226,46.66899,65.04056,57.17509,6.97093,0.57273,DEMOCRAT,WASHINGTON,2018.00000,1
507,252,2019,54,16709.37688,26985.60586,21.74747,39.22213,9.46316,94.63161,2.97179,0.09586,0.21912,0.05478,7302,48.26075,51.60230,59.28513,7.39523,0.61920,REPUBLICAN,WEST VIRGINIA,NaN,0
508,253,2019,55,18312.91965,28428.57080,22.14480,39.02185,11.22892,93.21754,2.31916,0.59241,0.28611,0.01683,29709,47.91477,57.55158,59.78660,7.32438,0.64417,REPUBLICAN,WISCONSIN,NaN,0
509,254,2019,56,16076.32979,30108.35248,23.12057,39.39716,11.66667,91.38298,0.56738,3.68794,0.35461,0.00000,2820,47.51773,58.61702,61.13475,11.59574,0.53395,REPUBLICAN,WYOMING,NaN,0

In [143]:
#Getting employment and GDP data

# #Employment data
Empt=pd.read_csv("C:/Users/Sanya/Documents/Python/Python_Group/Employment.csv")
Empt["state_fips"]=Empt["GeoFips"]/1000
Empt=Empt.drop(['GeoFips','GeoName','LineCode'],1)
Empt=Empt.melt(id_vars=['state_fips','Description'])
Empt=Empt.rename({"variable":"YEAR","state_fips":"STATEFIP"},axis="columns")

C:\Users\Sanya\AppData\Local\Temp/ipykernel_19716/2211106618.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Empt=Empt.drop(['GeoFips','GeoName','LineCode'],1)

In [144]:
Empt
Emptc=pd.pivot_table(data=Empt,values='value',index=['STATEFIP','YEAR'],columns=['Description']).reset_index()

In [145]:
Emptc['Empt']=Emptc['Total employment']*100/Emptc['Population (persons) 3/']

In [146]:
#Checking if employment rate greater than 100(should not be the case)
Emptc.loc[Emptc['Empt']>100]

Description,STATEFIP,YEAR,Population (persons) 3/,Total employment,Empt
99,11.00000,2010,605282.00000,809137.00000,133.67934
100,11.00000,2011,620290.00000,826761.00000,133.28620
101,11.00000,2012,635737.00000,834413.00000,131.25129
102,11.00000,2013,651559.00000,848226.00000,130.18407
103,11.00000,2014,663603.00000,860669.00000,129.69637
104,11.00000,2015,677014.00000,873232.00000,128.98286
105,11.00000,2016,687576.00000,892766.00000,129.84252
106,11.00000,2017,697079.00000,903304.00000,129.58416
107,11.00000,2018,704147.00000,914601.00000,129.88779
108,11.00000,2019,708253.00000,915470.00000,129.25748
109,11.00000,2020,712816.00000,860807.00000,120.76146

In [148]:
Emptc=Emptc.drop(['Population (persons) 3/','Total employment'],1)

C:\Users\Sanya\AppData\Local\Temp/ipykernel_19716/1671281411.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Emptc=Emptc.drop(['Population (persons) 3/','Total employment'],1)

Description  STATEFIP  YEAR     Empt
11            1.00000  2010 51.41136
12            1.00000  2011 52.04415
13            1.00000  2012 51.97985
14            1.00000  2013 52.22587
15            1.00000  2014 52.68395
16            1.00000  2015 53.29672
17            1.00000  2016 53.82847
18            1.00000  2017 54.32181
19            1.00000  2018 55.04063
20            1.00000  2019 55.27146
21            1.00000  2020 53.08243

In [150]:
#Importing GDP per capita data
GDP_pc=pd.read_excel("C:/Users/Sanya/Documents/Python/Python_Group/Data_Variables.xlsx","x10")

In [151]:
GDP_pc=GDP_pc.melt('State')
GDP_pc=GDP_pc.rename(columns={'variable':'YEAR','value':'GDP_pc','State':'state'})

In [152]:
GDP_pc['state']=GDP_pc['state'].str.upper()

             state  YEAR      GDP_pc
0    UNITED STATES  2010 48650.83000
1          ALABAMA  2010 37039.21000
2           ALASKA  2010 74703.95000
3          ARIZONA  2010 39195.05000
4         ARKANSAS  2010 34732.12000
..             ...   ...         ...
567       VIRGINIA  2020 64382.24000
568     WASHINGTON  2020 79351.58000
569  WEST VIRGINIA  2020 42326.33000
570      WISCONSIN  2020 58002.20000
571        WYOMING  2020 62761.01000

[572 rows x 3 columns]

In [154]:
Emptc['YEAR'].describe()
Emptc['YEAR']=Emptc['YEAR'].astype(float)

In [155]:
#merging Employment and GDP_pc

GWG1=pd.merge(GWG1,Emptc,how="left",on=['STATEFIP','YEAR'])

In [156]:
GWG1=pd.merge(GWG1,GDP_pc,how='left',on=['state','YEAR'])

In [157]:
GWG1['GWG_calc']=(GWG1['Inc_M']-GWG1['Inc_F'])*100/GWG1['Inc_M']

In [158]:
GWG1

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,SEX,Prop_F,College,Mar,Constr,GWG,party_simplified,state,Year_imp,Pay_Transp,Empt,GDP_pc,GWG_calc
0,0,2010,1,14118.16366,23834.91491,22.57210,44.87924,12.49363,76.43942,19.99389,0.58086,0.21910,0.04076,19626,48.33384,55.83410,61.24019,6.51177,0.59233,REPUBLICAN,ALABAMA,NaN,0,51.41136,37039.21000,40.76688
1,1,2010,2,16442.15924,26732.79936,25.00000,44.26752,13.78981,68.69427,2.83439,16.68790,0.28662,0.28662,3140,45.54140,58.56688,57.64331,8.98089,0.61506,REPUBLICAN,ALASKA,NaN,0,62.17300,74703.95000,38.49444
2,2,2010,4,15761.25182,25056.49537,23.62163,43.50004,13.16433,82.33157,3.47174,3.96115,0.71117,0.20265,26154,47.79001,60.70964,56.64908,5.65879,0.62903,REPUBLICAN,ARIZONA,NaN,0,49.65508,39195.05000,37.09714
3,3,2010,5,13346.84925,20152.89866,22.77219,43.90285,12.82245,83.51759,11.95142,0.67839,0.09213,0.02513,11940,49.00335,47.99832,62.48744,7.29481,0.66228,REPUBLICAN,ARKANSAS,NaN,0,52.74720,34732.12000,33.77206
4,4,2010,6,18224.84655,28426.86741,23.94033,46.48201,13.13379,65.60136,4.51612,0.73408,4.12962,0.93690,156794,46.81046,61.60567,56.12268,6.53596,0.64111,DEMOCRAT,CALIFORNIA,1984.00000,1,52.63312,52359.20000,35.88866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,250,2019,51,24122.91462,38419.46075,23.44598,41.09360,11.14835,73.86605,14.01331,0.27611,1.15637,0.12744,42374,48.43064,67.52726,58.22674,5.14230,0.62788,DEMOCRAT,VIRGINIA,NaN,0,62.25764,64941.08000,37.21173
506,251,2019,53,22481.30645,39252.58905,24.24112,40.60871,11.40332,78.25176,2.61376,1.53119,2.25917,0.53726,37226,46.66899,65.04056,57.17509,6.97093,0.57273,DEMOCRAT,WASHINGTON,2018.00000,1,60.32920,78513.75000,42.72656
507,252,2019,54,16709.37688,26985.60586,21.74747,39.22213,9.46316,94.63161,2.97179,0.09586,0.21912,0.05478,7302,48.26075,51.60230,59.28513,7.39523,0.61920,REPUBLICAN,WEST VIRGINIA,NaN,0,49.09047,44159.16000,38.08041
508,253,2019,55,18312.91965,28428.57080,22.14480,39.02185,11.22892,93.21754,2.31916,0.59241,0.28611,0.01683,29709,47.91477,57.55158,59.78660,7.32438,0.64417,REPUBLICAN,WISCONSIN,NaN,0,63.85465,59206.30000,35.58269
509,254,2019,56,16076.32979,30108.35248,23.12057,39.39716,11.66667,91.38298,0.56738,3.68794,0.35461,0.00000,2820,47.51773,58.61702,61.13475,11.59574,0.53395,REPUBLICAN,WYOMING,NaN,0,70.35541,68423.64000,46.60508

In [159]:
#Making sure all states merged
GWG1['state'].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'], dtype=object)

In [160]:
GDP_pc['state'].unique()

array(['UNITED STATES', 'ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS',
       'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE',
       'DISTRICT OF COLUMBIA', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO',
       'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA',
       'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA',
       'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA',
       'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK',
       'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON',
       'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA',
       'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'], dtype=object)

In [161]:
list(GWG1)

['Unnamed: 0',
 'YEAR',
 'STATEFIP',
 'Inc_F',
 'Inc_M',
 'Agelt30',
 'Child',
 'Child5',
 'White',
 'Black',
 'AmIndian_AlaskaNative',
 'Chinese',
 'Japanese',
 'SEX',
 'Prop_F',
 'College',
 'Mar',
 'Constr',
 'GWG',
 'party_simplified',
 'state',
 'Year_imp',
 'Pay_Transp',
 'Empt',
 'GDP_pc',
 'GWG_calc']

In [162]:
#Taking log of GDP
GWG1['log_GDP']=np.log(GWG1['GDP_pc'])
#df['log_price'] = np.log(df['price'])
GWG1['GWG']=GWG1['GWG']*100

In [163]:
GWG1_corr=GWG1.drop(columns=['STATEFIP', 'Inc_F','Inc_M','SEX', 'Year_imp','GDP_pc'])

In [164]:
GWG1_corr

,Unnamed: 0,YEAR,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,Prop_F,College,Mar,Constr,GWG,party_simplified,state,Pay_Transp,Empt,GWG_calc,log_GDP
0,0,2010,22.57210,44.87924,12.49363,76.43942,19.99389,0.58086,0.21910,0.04076,48.33384,55.83410,61.24019,6.51177,59.23312,REPUBLICAN,ALABAMA,0,51.41136,40.76688,10.51973
1,1,2010,25.00000,44.26752,13.78981,68.69427,2.83439,16.68790,0.28662,0.28662,45.54140,58.56688,57.64331,8.98089,61.50556,REPUBLICAN,ALASKA,0,62.17300,38.49444,11.22129
2,2,2010,23.62163,43.50004,13.16433,82.33157,3.47174,3.96115,0.71117,0.20265,47.79001,60.70964,56.64908,5.65879,62.90286,REPUBLICAN,ARIZONA,0,49.65508,37.09714,10.57631
3,3,2010,22.77219,43.90285,12.82245,83.51759,11.95142,0.67839,0.09213,0.02513,49.00335,47.99832,62.48744,7.29481,66.22794,REPUBLICAN,ARKANSAS,0,52.74720,33.77206,10.45542
4,4,2010,23.94033,46.48201,13.13379,65.60136,4.51612,0.73408,4.12962,0.93690,46.81046,61.60567,56.12268,6.53596,64.11134,DEMOCRAT,CALIFORNIA,1,52.63312,35.88866,10.86588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,250,2019,23.44598,41.09360,11.14835,73.86605,14.01331,0.27611,1.15637,0.12744,48.43064,67.52726,58.22674,5.14230,62.78827,DEMOCRAT,VIRGINIA,0,62.25764,37.21173,11.08124
506,251,2019,24.24112,40.60871,11.40332,78.25176,2.61376,1.53119,2.25917,0.53726,46.66899,65.04056,57.17509,6.97093,57.27344,DEMOCRAT,WASHINGTON,1,60.32920,42.72656,11.27103
507,252,2019,21.74747,39.22213,9.46316,94.63161,2.97179,0.09586,0.21912,0.05478,48.26075,51.60230,59.28513,7.39523,61.91959,REPUBLICAN,WEST VIRGINIA,0,49.09047,38.08041,10.69556
508,253,2019,22.14480,39.02185,11.22892,93.21754,2.31916,0.59241,0.28611,0.01683,47.91477,57.55158,59.78660,7.32438,64.41731,REPUBLICAN,WISCONSIN,0,63.85465,35.58269,10.98878
509,254,2019,23.12057,39.39716,11.66667,91.38298,0.56738,3.68794,0.35461,0.00000,47.51773,58.61702,61.13475,11.59574,53.39492,REPUBLICAN,WYOMING,0,70.35541,46.60508,11.13347

In [166]:
#Plotting Correlation matrix

corr = GWG1_corr.corr()

corr.style.background_gradient(cmap='Blues').to_excel("corr.xlsx")

In [167]:
import statsmodels.formula.api as smf

In [169]:
GWG1.describe()

,Unnamed: 0,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,SEX,Prop_F,College,Mar,Constr,GWG,Year_imp,Pay_Transp,Empt,GDP_pc,GWG_calc,log_GDP
count,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,510.00000,190.00000,510.00000,510.00000,510.00000,510.00000,510.00000
mean,127.00000,28.96078,17408.96783,27654.17119,23.54299,41.22536,11.54443,81.44056,7.98381,1.71821,0.79001,0.38803,28202.77255,48.09972,59.53694,57.78582,6.67204,62.88598,2009.68421,0.24902,61.40049,56294.35331,37.11402,10.89535
std,73.68387,15.69223,4010.55196,5127.95233,2.26206,3.50532,1.42460,12.73582,8.20114,3.65806,0.96339,1.86768,30992.00690,1.38833,5.42974,4.52632,1.51432,6.34343,10.03725,0.43287,11.25874,21372.08884,6.34343,0.26633
min,0.00000,1.00000,11394.95996,17488.40029,18.60844,21.94190,7.90345,25.72888,0.17087,0.06842,0.00000,0.00000,2758.00000,43.70805,47.36436,33.04810,2.60569,41.14460,1982.00000,0.00000,48.50828,31624.97000,12.69531,10.36170
25%,63.25000,16.00000,14867.49365,23996.77096,22.34388,39.95692,10.71000,74.64082,1.87398,0.24245,0.24771,0.04171,7201.25000,47.32469,55.85313,55.82522,5.65366,59.63948,2008.00000,0.00000,56.32560,45414.10000,34.53885,10.72358
50%,127.00000,29.00000,16539.16259,26763.64359,23.42586,41.39196,11.46227,83.54655,5.24727,0.51909,0.43181,0.07674,18883.00000,48.20573,59.14598,58.13672,6.35674,62.88273,2013.00000,0.00000,59.71216,52343.37000,37.11727,10.86558
75%,190.75000,42.00000,18876.55608,30277.73114,24.29596,43.03544,12.32236,91.00006,11.55920,1.14469,0.89164,0.14927,34767.25000,48.89090,62.74495,60.57262,7.40327,65.46115,2016.00000,0.00000,63.73977,61208.77750,40.36052,11.02205
max,254.00000,56.00000,41830.35423,47942.61978,35.40868,51.85486,19.08558,97.17271,35.83146,24.13905,5.11636,15.14920,182239.00000,53.26472,85.11723,66.53375,11.59574,87.30469,2019.00000,1.00000,133.67934,204613.40000,58.85540,12.22888

In [170]:
#Dropping District of Columbia since its not a state
GWG1=GWG1.loc[GWG1['STATEFIP']!=11]

In [171]:
import numpy as np
from statsmodels.iolib.summary2 import summary_col

In [172]:
GWG1

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,SEX,Prop_F,College,Mar,Constr,GWG,party_simplified,state,Year_imp,Pay_Transp,Empt,GDP_pc,GWG_calc,log_GDP
0,0,2010,1,14118.16366,23834.91491,22.57210,44.87924,12.49363,76.43942,19.99389,0.58086,0.21910,0.04076,19626,48.33384,55.83410,61.24019,6.51177,59.23312,REPUBLICAN,ALABAMA,NaN,0,51.41136,37039.21000,40.76688,10.51973
1,1,2010,2,16442.15924,26732.79936,25.00000,44.26752,13.78981,68.69427,2.83439,16.68790,0.28662,0.28662,3140,45.54140,58.56688,57.64331,8.98089,61.50556,REPUBLICAN,ALASKA,NaN,0,62.17300,74703.95000,38.49444,11.22129
2,2,2010,4,15761.25182,25056.49537,23.62163,43.50004,13.16433,82.33157,3.47174,3.96115,0.71117,0.20265,26154,47.79001,60.70964,56.64908,5.65879,62.90286,REPUBLICAN,ARIZONA,NaN,0,49.65508,39195.05000,37.09714,10.57631
3,3,2010,5,13346.84925,20152.89866,22.77219,43.90285,12.82245,83.51759,11.95142,0.67839,0.09213,0.02513,11940,49.00335,47.99832,62.48744,7.29481,66.22794,REPUBLICAN,ARKANSAS,NaN,0,52.74720,34732.12000,33.77206,10.45542
4,4,2010,6,18224.84655,28426.86741,23.94033,46.48201,13.13379,65.60136,4.51612,0.73408,4.12962,0.93690,156794,46.81046,61.60567,56.12268,6.53596,64.11134,DEMOCRAT,CALIFORNIA,1984.00000,1,52.63312,52359.20000,35.88866,10.86588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,250,2019,51,24122.91462,38419.46075,23.44598,41.09360,11.14835,73.86605,14.01331,0.27611,1.15637,0.12744,42374,48.43064,67.52726,58.22674,5.14230,62.78827,DEMOCRAT,VIRGINIA,NaN,0,62.25764,64941.08000,37.21173,11.08124
506,251,2019,53,22481.30645,39252.58905,24.24112,40.60871,11.40332,78.25176,2.61376,1.53119,2.25917,0.53726,37226,46.66899,65.04056,57.17509,6.97093,57.27344,DEMOCRAT,WASHINGTON,2018.00000,1,60.32920,78513.75000,42.72656,11.27103
507,252,2019,54,16709.37688,26985.60586,21.74747,39.22213,9.46316,94.63161,2.97179,0.09586,0.21912,0.05478,7302,48.26075,51.60230,59.28513,7.39523,61.91959,REPUBLICAN,WEST VIRGINIA,NaN,0,49.09047,44159.16000,38.08041,10.69556
508,253,2019,55,18312.91965,28428.57080,22.14480,39.02185,11.22892,93.21754,2.31916,0.59241,0.28611,0.01683,29709,47.91477,57.55158,59.78660,7.32438,64.41731,REPUBLICAN,WISCONSIN,NaN,0,63.85465,59206.30000,35.58269,10.98878
509,254,2019,56,16076.32979,30108.35248,23.12057,39.39716,11.66667,91.38298,0.56738,3.68794,0.35461,0.00000,2820,47.51773,58.61702,61.13475,11.59574,53.39492,REPUBLICAN,WYOMING,NaN,0,70.35541,68423.64000,46.60508,11.13347

In [174]:
#Creating Democrat variable
GWG1['DEMOCRAT']=np.where(GWG1['party_simplified']=='DEMOCRAT',1,0)

C:\Users\Sanya\AppData\Local\Temp/ipykernel_19716/4017608821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GWG1['DEMOCRAT']=np.where(GWG1['party_simplified']=='DEMOCRAT',1,0)

In [175]:
GWG1

,Unnamed: 0,YEAR,STATEFIP,Inc_F,Inc_M,Agelt30,Child,Child5,White,Black,AmIndian_AlaskaNative,Chinese,Japanese,SEX,Prop_F,College,Mar,Constr,GWG,party_simplified,state,Year_imp,Pay_Transp,Empt,GDP_pc,GWG_calc,log_GDP,DEMOCRAT
0,0,2010,1,14118.16366,23834.91491,22.57210,44.87924,12.49363,76.43942,19.99389,0.58086,0.21910,0.04076,19626,48.33384,55.83410,61.24019,6.51177,59.23312,REPUBLICAN,ALABAMA,NaN,0,51.41136,37039.21000,40.76688,10.51973,0
1,1,2010,2,16442.15924,26732.79936,25.00000,44.26752,13.78981,68.69427,2.83439,16.68790,0.28662,0.28662,3140,45.54140,58.56688,57.64331,8.98089,61.50556,REPUBLICAN,ALASKA,NaN,0,62.17300,74703.95000,38.49444,11.22129,0
2,2,2010,4,15761.25182,25056.49537,23.62163,43.50004,13.16433,82.33157,3.47174,3.96115,0.71117,0.20265,26154,47.79001,60.70964,56.64908,5.65879,62.90286,REPUBLICAN,ARIZONA,NaN,0,49.65508,39195.05000,37.09714,10.57631,0
3,3,2010,5,13346.84925,20152.89866,22.77219,43.90285,12.82245,83.51759,11.95142,0.67839,0.09213,0.02513,11940,49.00335,47.99832,62.48744,7.29481,66.22794,REPUBLICAN,ARKANSAS,NaN,0,52.74720,34732.12000,33.77206,10.45542,0
4,4,2010,6,18224.84655,28426.86741,23.94033,46.48201,13.13379,65.60136,4.51612,0.73408,4.12962,0.93690,156794,46.81046,61.60567,56.12268,6.53596,64.11134,DEMOCRAT,CALIFORNIA,1984.00000,1,52.63312,52359.20000,35.88866,10.86588,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,250,2019,51,24122.91462,38419.46075,23.44598,41.09360,11.14835,73.86605,14.01331,0.27611,1.15637,0.12744,42374,48.43064,67.52726,58.22674,5.14230,62.78827,DEMOCRAT,VIRGINIA,NaN,0,62.25764,64941.08000,37.21173,11.08124,1
506,251,2019,53,22481.30645,39252.58905,24.24112,40.60871,11.40332,78.25176,2.61376,1.53119,2.25917,0.53726,37226,46.66899,65.04056,57.17509,6.97093,57.27344,DEMOCRAT,WASHINGTON,2018.00000,1,60.32920,78513.75000,42.72656,11.27103,1
507,252,2019,54,16709.37688,26985.60586,21.74747,39.22213,9.46316,94.63161,2.97179,0.09586,0.21912,0.05478,7302,48.26075,51.60230,59.28513,7.39523,61.91959,REPUBLICAN,WEST VIRGINIA,NaN,0,49.09047,44159.16000,38.08041,10.69556,0
508,253,2019,55,18312.91965,28428.57080,22.14480,39.02185,11.22892,93.21754,2.31916,0.59241,0.28611,0.01683,29709,47.91477,57.55158,59.78660,7.32438,64.41731,REPUBLICAN,WISCONSIN,NaN,0,63.85465,59206.30000,35.58269,10.98878,0
509,254,2019,56,16076.32979,30108.35248,23.12057,39.39716,11.66667,91.38298,0.56738,3.68794,0.35461,0.00000,2820,47.51773,58.61702,61.13475,11.59574,53.39492,REPUBLICAN,WYOMING,NaN,0,70.35541,68423.64000,46.60508,11.13347,0

In [177]:
#OLS Regression


def reg(op,form):
    ols=smf.ols(formula=form,data=GWG1).fit()
    path="Out/Reg/"+op+".csv"
    print(ols.summary())

    return ols 


#Trying different models

m1=reg("NoStateFE_NoInter_OnlyAge","GWG_calc~C(YEAR)+DEMOCRAT+Pay_Transp+Agelt30+Child+White+Empt+Prop_F+College+Constr+Mar+log_GDP")
m2=reg("NoStateFE_NoInter_OnlyChild5","GWG_calc~C(YEAR)+DEMOCRAT+Pay_Transp+Child5+White+Black+AmIndian_AlaskaNative+Chinese+Japanese+Empt+Prop_F+College+Constr+Mar+log_GDP")
m3=reg("NoStateFE_NoInter_OnlyGDP","GWG_calc~C(YEAR)+DEMOCRAT+Pay_Transp+Agelt30+Child+White+Prop_F+College+Constr+Mar+log_GDP")
m4=reg("NoStateFE_NoInter_OnlyEmpt","GWG_calc~C(YEAR)+DEMOCRAT+Pay_Transp+Agelt30+Child+White+Prop_F+College+Constr+Mar+Empt")
m5=reg("NoStateFE_NoInter_All","GWG_calc~C(YEAR)+DEMOCRAT+Pay_Transp+Agelt30+Child+White+Prop_F+College+Constr+Mar+Empt+log_GDP")

m6=reg("NoStateFE_Inter","GWG_calc~C(YEAR)+DEMOCRAT*Pay_Transp+Agelt30+Child++White+Empt+Prop_F+College+Constr+Mar+log_GDP")
m7=reg("NoStateFE_NoInter","GWG_calc~C(YEAR)+DEMOCRAT+Pay_Transp+Agelt30+Child+White+Empt+Prop_F+College+Constr+Mar+log_GDP")
m8=reg("StateFE_Inter","GWG_calc~C(YEAR)+C(state)+DEMOCRAT*Pay_Transp+Agelt30+Child+White+Empt+Prop_F+College+Constr+Mar+log_GDP")
m9=reg("StateFE_NoInter","GWG_calc~C(YEAR)+C(state)+DEMOCRAT+Pay_Transp+Agelt30+Child+White+Empt+Prop_F+College+Constr+Mar+log_GDP")


s1=summary_col([m3,m4,m5],stars=True,float_format='%0.2f',
                  model_names=['OnlyGDP', 'OnlyEmpt', 'All'],
                  info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                             'R2':lambda x: "{:.2f}".format(x.rsquared)})



s1.tables[0].to_excel("Out/Reg/Multicoll_chk.xlsx")

s2=summary_col([m6,m7],stars=True,info_dict={'R-squared' : lambda x: "{:.2f}".format(x.rsquared),
           'No. observations' : lambda x: "{0:d}".format(int(x.nobs))})

s2.tables[0].to_excel("Out/Reg/NoStateFE.xlsx")



s3=summary_col([m8,m9],stars=True,info_dict={'R-squared' : lambda x: "{:.2f}".format(x.rsquared),
           'No. observations' : lambda x: "{0:d}".format(int(x.nobs))})
s3.tables[0].to_excel("Out/Reg/StateFE.xlsx")

                            OLS Regression Results
==============================================================================
Dep. Variable:               GWG_calc   R-squared:                       0.731
Model:                            OLS   Adj. R-squared:                  0.721
Method:                 Least Squares   F-statistic:                     68.82
Date:                Sat, 16 Apr 2022   Prob (F-statistic):          1.09e-123
Time:                        15:55:44   Log-Likelihood:                -1243.6
No. Observations:                 500   AIC:                             2527.
Df Residuals:                     480   BIC:                             2611.
Df Model:                          19
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         116.1081     16.215      7.161      0.000      84.247     147.969
C(YEAR)[T.2011]     1.0924      0.608      1.796      0.073      -0.103       2.288
C(YEAR)[T.2012]     1.1998      0.613      1.958      0.051      -0.004       2.404
C(YEAR)[T.2013]     1.6131      0.626      2.579      0.010       0.384       2.842
C(YEAR)[T.2014]     1.6221      0.645      2.516      0.012       0.356       2.889
C(YEAR)[T.2015]     1.7130      0.664      2.581      0.010       0.409       3.017
C(YEAR)[T.2016]     1.1651      0.691      1.687      0.092      -0.192       2.522
C(YEAR)[T.2017]     0.2798      0.697      0.401      0.688      -1.090       1.650
C(YEAR)[T.2018]     0.6402      0.720      0.889      0.374      -0.775       2.055
C(YEAR)[T.2019]     0.5898      0.744      0.793      0.428      -0.872       2.052
DEMOCRAT           -2.9481      0.406     -7.263      0.000      -3.746      -2.151
Pay_Transp         -0.1402      0.367     -0.382      0.703      -0.861       0.581
Agelt30            -0.1241      0.107     -1.161      0.246      -0.334       0.086
Child               0.8076      0.084      9.575      0.000       0.642       0.973
White               0.1297      0.016      8.236      0.000       0.099       0.161
Prop_F             -2.9028      0.174    -16.715      0.000      -3.244      -2.562
College             0.1993      0.042      4.692      0.000       0.116       0.283
Constr             -0.0346      0.150     -0.230      0.818      -0.329       0.260
Mar                -0.0607      0.070     -0.873      0.383      -0.197       0.076
log_GDP             1.0999      0.890      1.236      0.217      -0.648       2.848
==============================================================================
Omnibus:                        9.511   Durbin-Watson:                   2.246
Prob(Omnibus):                  0.009   Jarque-Bera (JB):               12.131
Skew:                           0.196   Prob(JB):                      0.00232
Kurtosis:                       3.654   Cond. No.                     1.66e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.66e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:               GWG_calc   R-squared:                       0.731
Model:                            OLS   Adj. R-squared:                  0.721
Method:                 Least Squares   F-statistic:                     68.72
Date:                Sat, 16 Apr 2022   Prob (F-statistic):          1.40e-123
Time:                        15:55:44   Log-Likelihood:                -1243.8
No. Observations:                 500   AIC:                             2528.
Df Residuals:                     480   BIC:                             2612.
Df Model:                          19
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         128.6149     12.734     10.100      0.000     103.594     153.636
C(YEAR)[T.2011]     1.1028      0.608      1.812      0.071      -0.093       2.298
C(YEAR)[T.2012]     1.2426      0.612      2.029      0.043       0.039       2.446
C(YEAR)[T.2013]     1.6541      0.625      2.646      0.008       0.426       2.882
C(YEAR)[T.2014]     1.6941      0.643      2.633      0.009       0.430       2.958
C(YEAR)[T.2015]     1.7841      0.662      2.693      0.007       0.482       3.086
C(YEAR)[T.2016]     1.2519      0.689      1.817      0.070      -0.102       2.606
C(YEAR)[T.2017]     0.4076      0.694      0.587      0.558      -0.957       1.772
C(YEAR)[T.2018]     0.8154      0.714      1.142      0.254      -0.588       2.219
C(YEAR)[T.2019]     0.7792      0.734      1.062      0.289      -0.663       2.221
DEMOCRAT           -2.8053      0.403     -6.968      0.000      -3.596      -2.014
Pay_Transp         -0.0359      0.371     -0.097      0.923      -0.766       0.694
Agelt30            -0.0740      0.112     -0.659      0.510      -0.295       0.147
Child               0.7564      0.095      7.957      0.000       0.570       0.943
White               0.1270      0.016      7.978      0.000       0.096       0.158
Prop_F             -2.9339      0.172    -17.093      0.000      -3.271      -2.597
College             0.2373      0.043      5.518      0.000       0.153       0.322
Constr              0.0047      0.152      0.031      0.975      -0.295       0.304
Mar                -0.0295      0.078     -0.378      0.706      -0.183       0.124
Empt               -0.0397      0.039     -1.007      0.314      -0.117       0.038
==============================================================================
Omnibus:                       16.067   Durbin-Watson:                   2.214
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               21.293
Skew:                           0.304   Prob(JB):                     2.38e-05
Kurtosis:                       3.808   Cond. No.                     1.42e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:               GWG_calc   R-squared:                       0.736
Model:                            OLS   Adj. R-squared:                  0.725
Method:                 Least Squares   F-statistic:                     66.94
Date:                Sat, 16 Apr 2022   Prob (F-statistic):          1.06e-124
Time:                        15:55:44   Log-Likelihood:                -1238.8
No. Observations:                 500   AIC:                             2520.
Df Residuals:                     479   BIC:                             2608.
Df Model:                          20
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          81.3251     19.778      4.112      0.000      42.464     120.187
C(YEAR)[T.2011]     0.9936      0.604      1.645      0.101      -0.193       2.180
C(YEAR)[T.2012]     1.1287      0.608      1.856      0.064      -0.066       2.324
C(YEAR)[T.2013]     1.5203      0.621      2.448      0.015       0.300       2.741
C(YEAR)[T.2014]     1.5283      0.640      2.388      0.017       0.271       2.786
C(YEAR)[T.2015]     1.6065      0.659      2.437      0.015       0.311       2.902
C(YEAR)[T.2016]     1.0477      0.686      1.527      0.127      -0.300       2.396
C(YEAR)[T.2017]     0.1691      0.692      0.244      0.807      -1.192       1.530
C(YEAR)[T.2018]     0.4811      0.716      0.672      0.502      -0.926       1.888
C(YEAR)[T.2019]     0.2753      0.745      0.369      0.712      -1.189       1.739
DEMOCRAT           -2.9710      0.403     -7.380      0.000      -3.762      -2.180
Pay_Transp          0.0430      0.369      0.116      0.907      -0.682       0.768
Agelt30             0.0029      0.114      0.026      0.979      -0.221       0.227
Child               0.6237      0.103      6.029      0.000       0.420       0.827
White               0.1206      0.016      7.577      0.000       0.089       0.152
Prop_F             -2.7965      0.176    -15.909      0.000      -3.142      -2.451
College             0.2233      0.043      5.209      0.000       0.139       0.307
Constr              0.0583      0.152      0.384      0.701      -0.240       0.357
Mar                 0.1141      0.090      1.267      0.206      -0.063       0.291
Empt               -0.1817      0.060     -3.021      0.003      -0.300      -0.064
log_GDP             4.2155      1.357      3.106      0.002       1.548       6.883
==============================================================================
Omnibus:                       10.027   Durbin-Watson:                   2.271
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               13.322
Skew:                           0.191   Prob(JB):                      0.00128
Kurtosis:                       3.702   Cond. No.                     2.23e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.23e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:               GWG_calc   R-squared:                       0.741
Model:                            OLS   Adj. R-squared:                  0.730
Method:                 Least Squares   F-statistic:                     65.23
Date:                Sat, 16 Apr 2022   Prob (F-statistic):          1.12e-125
Time:                        15:55:44   Log-Likelihood:                -1234.2
No. Observations:                 500   AIC:                             2512.
Df Residuals:                     478   BIC:                             2605.
Df Model:                          21
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept              87.5468     19.726      4.438      0.000      48.787     126.306
C(YEAR)[T.2011]         1.0153      0.599      1.695      0.091      -0.162       2.193
C(YEAR)[T.2012]         1.1352      0.603      1.882      0.060      -0.050       2.320
C(YEAR)[T.2013]         1.5097      0.616      2.451      0.015       0.299       2.720
C(YEAR)[T.2014]         1.5363      0.635      2.420      0.016       0.289       2.783
C(YEAR)[T.2015]         1.6395      0.654      2.508      0.012       0.355       2.924
C(YEAR)[T.2016]         1.1237      0.681      1.650      0.100      -0.214       2.462
C(YEAR)[T.2017]         0.2618      0.688      0.381      0.703      -1.089       1.613
C(YEAR)[T.2018]         0.5955      0.711      0.837      0.403      -0.802       1.993
C(YEAR)[T.2019]         0.4088      0.740      0.552      0.581      -1.046       1.864
DEMOCRAT               -2.5236      0.426     -5.919      0.000      -3.361      -1.686
Pay_Transp              1.8766      0.714      2.628      0.009       0.474       3.279
DEMOCRAT:Pay_Transp    -2.4195      0.809     -2.991      0.003      -4.009      -0.830
Agelt30                -0.0227      0.113     -0.200      0.841      -0.246       0.200
Child                   0.6395      0.103      6.224      0.000       0.438       0.841
White                   0.1245      0.016      7.861      0.000       0.093       0.156
Empt                   -0.1757      0.060     -2.942      0.003      -0.293      -0.058
Prop_F                 -2.8682      0.176    -16.299      0.000      -3.214      -2.522
College                 0.2288      0.043      5.376      0.000       0.145       0.312
Constr                  0.0517      0.151      0.343      0.732      -0.244       0.348
Mar                     0.1039      0.089      1.162      0.246      -0.072       0.280
log_GDP                 3.9019      1.350      2.890      0.004       1.249       6.555
==============================================================================
Omnibus:                        5.702   Durbin-Watson:                   2.256
Prob(Omnibus):                  0.058   Jarque-Bera (JB):                7.267
Skew:                           0.090   Prob(JB):                       0.0264
Kurtosis:                       3.563   Cond. No.                     2.24e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.24e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:               GWG_calc   R-squared:                       0.736
Model:                            OLS   Adj. R-squared:                  0.725
Method:                 Least Squares   F-statistic:                     66.94
Date:                Sat, 16 Apr 2022   Prob (F-statistic):          1.06e-124
Time:                        15:55:44   Log-Likelihood:                -1238.8
No. Observations:                 500   AIC:                             2520.
Df Residuals:                     479   BIC:                             2608.
Df Model:                          20
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          81.3251     19.778      4.112      0.000      42.464     120.187
C(YEAR)[T.2011]     0.9936      0.604      1.645      0.101      -0.193       2.180
C(YEAR)[T.2012]     1.1287      0.608      1.856      0.064      -0.066       2.324
C(YEAR)[T.2013]     1.5203      0.621      2.448      0.015       0.300       2.741
C(YEAR)[T.2014]     1.5283      0.640      2.388      0.017       0.271       2.786
C(YEAR)[T.2015]     1.6065      0.659      2.437      0.015       0.311       2.902
C(YEAR)[T.2016]     1.0477      0.686      1.527      0.127      -0.300       2.396
C(YEAR)[T.2017]     0.1691      0.692      0.244      0.807      -1.192       1.530
C(YEAR)[T.2018]     0.4811      0.716      0.672      0.502      -0.926       1.888
C(YEAR)[T.2019]     0.2753      0.745      0.369      0.712      -1.189       1.739
DEMOCRAT           -2.9710      0.403     -7.380      0.000      -3.762      -2.180
Pay_Transp          0.0430      0.369      0.116      0.907      -0.682       0.768
Agelt30             0.0029      0.114      0.026      0.979      -0.221       0.227
Child               0.6237      0.103      6.029      0.000       0.420       0.827
White               0.1206      0.016      7.577      0.000       0.089       0.152
Empt               -0.1817      0.060     -3.021      0.003      -0.300      -0.064
Prop_F             -2.7965      0.176    -15.909      0.000      -3.142      -2.451
College             0.2233      0.043      5.209      0.000       0.139       0.307
Constr              0.0583      0.152      0.384      0.701      -0.240       0.357
Mar                 0.1141      0.090      1.267      0.206      -0.063       0.291
log_GDP             4.2155      1.357      3.106      0.002       1.548       6.883
==============================================================================
Omnibus:                       10.027   Durbin-Watson:                   2.271
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               13.322
Skew:                           0.191   Prob(JB):                      0.00128
Kurtosis:                       3.702   Cond. No.                     2.23e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.23e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:               GWG_calc   R-squared:                       0.949
Model:                            OLS   Adj. R-squared:                  0.941
Method:                 Least Squares   F-statistic:                     115.0
Date:                Sat, 16 Apr 2022   Prob (F-statistic):          1.53e-237
Time:                        15:55:44   Log-Likelihood:                -826.21
No. Observations:                 500   AIC:                             1794.
Df Residuals:                     429   BIC:                             2094.
Df Model:                          70
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                    114.7532     30.023      3.822      0.000      55.742     173.764
C(YEAR)[T.2011]               -0.2417      0.324     -0.747      0.456      -0.878       0.394
C(YEAR)[T.2012]               -0.0543      0.356     -0.152      0.879      -0.754       0.646
C(YEAR)[T.2013]                0.2602      0.404      0.645      0.519      -0.533       1.053
C(YEAR)[T.2014]               -0.3797      0.471     -0.806      0.421      -1.305       0.546
C(YEAR)[T.2015]               -0.7814      0.534     -1.464      0.144      -1.830       0.268
C(YEAR)[T.2016]               -1.3050      0.599     -2.179      0.030      -2.482      -0.128
C(YEAR)[T.2017]               -2.3829      0.646     -3.686      0.000      -3.654      -1.112
C(YEAR)[T.2018]               -2.5981      0.711     -3.654      0.000      -3.996      -1.200
C(YEAR)[T.2019]               -3.0863      0.773     -3.993      0.000      -4.605      -1.567
C(state)[T.ALASKA]           -10.4862      1.680     -6.242      0.000     -13.788      -7.184
C(state)[T.ARIZONA]           -5.9973      1.034     -5.799      0.000      -8.030      -3.965
C(state)[T.ARKANSAS]          -4.6175      1.222     -3.777      0.000      -7.020      -2.215
C(state)[T.CALIFORNIA]        -9.0268      1.770     -5.100      0.000     -12.506      -5.548
C(state)[T.COLORADO]          -8.1223      1.926     -4.218      0.000     -11.907      -4.338
C(state)[T.CONNECTICUT]       -3.8809      1.753     -2.214      0.027      -7.326      -0.436

                            OLS Regression Results
==============================================================================
Dep. Variable:               GWG_calc   R-squared:                       0.949
Model:                            OLS   Adj. R-squared:                  0.941
Method:                 Least Squares   F-statistic:                     116.6
Date:                Sat, 16 Apr 2022   Prob (F-statistic):          2.72e-238
Time:                        15:55:44   Log-Likelihood:                -826.98
No. Observations:                 500   AIC:                             1794.
Df Residuals:                     430   BIC:                             2089.
Df Model:                          69
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                    117.6198     29.931      3.930      0.000      58.790     176.450
C(YEAR)[T.2011]               -0.2419      0.324     -0.747      0.455      -0.878       0.394
C(YEAR)[T.2012]               -0.0454      0.356     -0.127      0.899      -0.745       0.655
C(YEAR)[T.2013]                0.2767      0.403      0.686      0.493      -0.516       1.070
C(YEAR)[T.2014]               -0.3628      0.471     -0.770      0.442      -1.289       0.563
C(YEAR)[T.2015]               -0.7690      0.534     -1.441      0.150      -1.818       0.280
C(YEAR)[T.2016]               -1.2917      0.599     -2.157      0.032      -2.469      -0.114
C(YEAR)[T.2017]               -2.3670      0.647     -3.661      0.000      -3.638      -1.096
C(YEAR)[T.2018]               -2.5823      0.711     -3.631      0.000      -3.980      -1.184
C(YEAR)[T.2019]               -3.0717      0.773     -3.974      0.000      -4.591      -1.552
C(state)[T.ALASKA]           -10.2984      1.673     -6.157      0.000     -13.586      -7.011
C(state)[T.ARIZONA]           -6.0780      1.032     -5.889      0.000      -8.107      -4.049
C(state)[T.ARKANSAS]          -4.6736      1.222     -3.825      0.000      -7.075      -2.272
C(state)[T.CALIFORNIA]        -8.8877      1.767     -5.031      0.000     -12.360      -5.415
C(state)[T.COLORADO]          -8.2322      1.924     -4.279      0.000     -12.014      -4.451
C(state)[T.CONNECTICUT]       -3.8329      1.753     -2.187      0.029      -7.278      -0.388
C(state)[T.DELAWARE]         -13.9773      1.444     -9.680      0.000     -16.815     -11.139
C(state)[T.FLORIDA]           -7.0248      1.115     -6.299      0.000      -9.217      -4.833
C(state)[T.GEORGIA]           -4.7793      1.098     -4.351      0.000      -6.938      -2.621
C(state)[T.HAWAII]           -11.3700      4.852     -2.343      0.020     -20.906      -1.834
C(state)[T.IDAHO]             -0.3544      1.981     -0.179      0.858      -4.249       3.540
C(state)[T.ILLINOIS]          -5.4180      1.364     -3.972      0.000      -8.099      -2.737
C(state)[T.INDIANA]           -3.3483      1.695     -1.975      0.049      -6.680      -0.017
C(state)[T.IOWA]             -10.7767      2.204     -4.890      0.000     -15.109      -6.445
C(state)[T.KANSAS]            -6.3914      1.726     -3.703      0.000      -9.784      -2.999
C(state)[T.KENTUCKY]          -5.3795      1.635     -3.291      0.001      -8.592      -2.167
C(state)[T.LOUISIANA]         -0.9756      0.987     -0.988      0.324      -2.916       0.965
C(state)[T.MAINE]            -16.4272      2.385     -6.888      0.000     -21.115     -11.740
C(state)[T.MARYLAND]         -12.0060      1.819     -6.602      0.000     -15.581      -8.431
C(state)[T.MASSACHUSETTS]     -9.5853      2.033     -4.715      0.000     -13.581      -5.589
C(state)[T.MICHIGAN]          -3.1698      1.404     -2.257      0.024      -5.930      -0.410
C(state)[T.MINNESOTA]        -12.6745      2.018     -6.282      0.000     -16.640      -8.709
C(state)[T.MISSISSIPPI]       -3.1230      1.292     -2.417      0.016      -5.662      -0.584
C(state)[T.MISSOURI]          -7.6036      1.524     -4.991      0.000     -10.598      -4.609
C(state)[T.MONTANA]          -10.8511      2.054     -5.283      0.000     -14.888      -6.814
C(state)[T.NEBRASKA]         -11.4100      2.098     -5.438      0.000     -15.534      -7.286
C(state)[T.NEVADA]           -10.1437      1.216     -8.339      0.000     -12.534      -7.753
C(state)[T.NEW HAMPSHIRE]     -8.2125      2.168     -3.788      0.000     -12.473      -3.952
C(state)[T.NEW JERSEY]        -4.5275      1.494     -3.030      0.003      -7.464      -1.591
C(state)[T.NEW MEXICO]        -8.9452      1.222     -7.323      0.000     -11.346      -6.544
C(state)[T.NEW YORK]         -10.9896      1.664     -6.605      0.000     -14.260      -7.719
C(state)[T.NORTH CAROLINA]    -5.9079      0.854     -6.916      0.000      -7.587      -4.229
C(state)[T.NORTH DAKOTA]     -12.6954      2.551     -4.977      0.000     -17.709      -7.682
C(state)[T.OHIO]              -6.1058      1.555     -3.927      0.000      -9.162      -3.050
C(state)[T.OKLAHOMA]          -2.9945      0.966     -3.099      0.002      -4.894      -1.095
C(state)[T.OREGON]            -7.7997      1.533     -5.087      0.000     -10.814      -4.786
C(state)[T.PENNSYLVANIA]      -7.0604      1.692     -4.173      0.000     -10.386      -3.735
C(state)[T.RHODE ISLAND]     -10.5567      1.673     -6.309      0.000     -13.846      -7.268
C(state)[T.SOUTH CAROLINA]    -3.3699      0.778     -4.333      0.000      -4.899      -1.841
C(state)[T.SOUTH DAKOTA]     -14.9038      2.029     -7.346      0.000     -18.891     -10.916
C(state)[T.TENNESSEE]         -5.7721      1.083     -5.327      0.000      -7.902      -3.643
C(state)[T.TEXAS]             -4.3029      1.012     -4.253      0.000      -6.291      -2.314
C(state)[T.UTAH]               7.5003      2.321      3.232      0.001       2.939      12.062
C(state)[T.VERMONT]          -20.4294      2.561     -7.977      0.000     -25.463     -15.396
C(state)[T.VIRGINIA]          -5.9082      1.328     -4.447      0.000      -8.519      -3.297
C(state)[T.WASHINGTON]        -3.8772      1.408     -2.753      0.006      -6.645      -1.109
C(state)[T.WEST VIRGINIA]     -1.6104      2.200     -0.732      0.464      -5.934       2.713
C(state)[T.WISCONSIN]        -10.2100      1.969     -5.184      0.000     -14.081      -6.339
C(state)[T.WYOMING]           -4.7116      2.226     -2.117      0.035      -9.086      -0.337
DEMOCRAT                      -0.5596      0.366     -1.528      0.127      -1.279       0.160
Pay_Transp                    -0.0320      0.312     -0.102      0.919      -0.646       0.582
Agelt30                       -0.4379      0.131     -3.345      0.001      -0.695      -0.181
Child                          0.0285      0.109      0.262      0.793      -0.185       0.242
White                          0.0582      0.096      0.609      0.543      -0.130       0.246
Empt                           0.3570      0.106      3.383      0.001       0.150       0.564
Prop_F                        -2.1469      0.179    -11.965      0.000      -2.500      -1.794
College                        0.0406      0.093      0.437      0.663      -0.142       0.223
Constr                         0.3587      0.236      1.520      0.129      -0.105       0.822
Mar                           -0.2289      0.121     -1.888      0.060      -0.467       0.009
log_GDP                        2.1099      2.605      0.810      0.418      -3.010       7.230
==============================================================================
Omnibus:                       25.174   Durbin-Watson:                   2.123
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               61.874
Skew:                          -0.201   Prob(JB):                     3.67e-14
Kurtosis:                       4.676   Cond. No.                     7.35e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.35e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [179]:
GWG1['GWG_calc'].describe()

count   500.00000
mean     37.54084
std       5.62134
min      20.77683
25%      34.71336
50%      37.21179
75%      40.45702
max      58.85540
Name: GWG_calc, dtype: float64

In [180]:
GWG1.to_csv("GWG.csv")